* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navBar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLogo {
    height: 50px;
    width: 140px;
}

.Logo {
    background-image: url("amazon.png");
    background-size: cover;
    height: 60px;
    width: 115px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.addFirst {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.addSecond {
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;

}

.addressIcon {
    display: flex;
    align-items: center;
}

.navSearch {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 807px;
    height: 40px;
    border-radius: 4px;
}

.searchSelect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border: none;
}
.searchInput {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.SearchIcon {
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;

}

span {
    font-size: 0.7rem;

}

.navSecond {
    font-size: 0.85rem;
    font-weight: 700;
}

.navSearch:hover {
    border: 2px solid orange;
}

.navCart i {
    font-size: 30px;
}

.navCart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelOption p {
    display: inline;
    margin-left: 10px;
}

.panelOption {
    width: 65%;
    font-size: 0.85rem;
}

.panelDeals {
    font-size: 0.9rem;
    font-weight: 700;
}

.panelAll {
    font-size: 14px;
}

.heroSection {
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Shreyansh/BAU/Unrexc/D70978891_INWLD_BAU_Unrec_Uber_PC_Hero_3000x1200._CB594707876_.jpg");
    height: 250px;
    background-size: cover;
    display: flex;
}

.shopSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 192, 200);
}

.box {
    height: 400px;
    width: 350px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}

.boxImage {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxContent {
    margin-left: 1rem;
    margin-right: 1rem;
}

.boxContent p {
    color: #007185;
}

footer {
    margin-top: 20px;
}

.footerPanel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footerPanel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 45px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footerPanel3 {
    background-color: #0f1111;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}

.Logo {
    background-image: url("amazon.png");
    background-size: cover;
    height: 60px;
    width: 115px;
}

.footerPanel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
} 

.terms {
    padding-top: 25px;
}

.copyRight {
    padding-top: 5px;
}